pyperclip>=1.8.2
PyAutoGUI>=0.9.53
matplotlib>=3.7.1
numpy>=1.24.2
pywin32>=306
squarify>=0.4.3
plotly>=5.14.1
pynput>=1.7.6
pandas>=2.0.0
pytest>=7.3.1
jours-feries-france>=0.7.0
jira>=3.5.0
seaborn>=0.12.2
